<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>这是主页title</title>
    <% var data = {"haha": "hello"}; %>
    <%  %>
 <% (function($$data) {%>
<link rel="stylesheet" href="/path/to/your/css/file" type="text/css" />

 <% })( data); %>
 <%  %>
    <%  %>
 <% (function($$data) {%>
<link rel="stylesheet" href="/path/to/your/css/file" type="text/css" />

 <% })( data); %>
 <%  %>
</head>
<body>
<%  %>
 <% (function($$data) {%>
<footer>This is footer.</footer>

 <% })( data); %>
 <%  %>
<%  %>
 <% (function($$data) {%>
<script src="/path/to/your/js/files"></script>

 <% })( data); %>
 <%  %>
</body>
</html>
